{{!-- should be the same as the new blog but has api call to update instead of post. 
might be able to make this same view --}}



<form class="form update-form">
    <div hidden='true' id='blog_id' data-value='{{blog.id}}'></div> 
    <h4>User: {{blog.user.name}}</h4> </br>
    <h4>Date Created: {{format_date blog.date_created}}</h4> </br>
  <h4>Title:</h4>  
  <div class="form-group">
    <input class="form-input" type="text" style="width:800px; " id="title-blog" value='{{blog.title}}'/>
  </div>
  <h4>Content:</h4>
  <div class="form-group">
    <textarea id="content-blog" rows = "5" cols = "111" name = "description">{{blog.content}}</textarea>
  </div>
    <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>

<script src="/js/updateBlog.js"></script>